[submodule "themes/avicenna"]
	path = themes/avicenna
	url = git@github.com:brianzhang01/avicenna.git
	branch = develop
[submodule "public"]
	path = public
	url = git@github.com:brianzhang01/brianzhang01.github.io.git
