[submodule "themes/avicenna"]
	path = themes/avicenna
	url = https://github.com/hadisinaee/avicenna.git
[submodule "brianzhang01.github.io"]
	path = brianzhang01.github.io
	url = git@github.com:brianzhang01/brianzhang01.github.io.git
